body {
	font-family: "Averia Serif Libre", serif;
}

.logo {
	background-image: url("../img/submit/submit.svg");
	background-repeat: no-repeat;
	background-position: right;
	height: 251px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	padding-right: 4rem;
	gap: 0.5rem;
	width: 50%;
}
