<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='style-about/style.css')}}"
		/>
		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='img/favicon/favicon.ico') }}"
		/>
		<script src="https://unpkg.com/@phosphor-icons/web"></script>
		<title>MOOD GRAM - About</title>
	</head>
	<body class="bg-[#93DCAF]">
		<header class="flex justify-between">
			<figure class="logo pl-16">
				<img
					src="../static/img/sobre/Logo (1).svg"
					alt="Logo MOOD GRAM"
					class="w-9"
				/>
				<h1 class="text-2xl text-[#E9DAD2]">
					MOOD<span class="text-lg">GRAM</span>
				</h1>
			</figure>
			<img src="../static/img/sobre/Group 7.svg" alt="uns efeitos ai" />
		</header>
		<main
			class="flex flex-row absolute z-10 justify-between mx-[20%] w-3/5 mt-[-100px]"
		>
			<div class="flex flex-col flex-wrap items-center gap-9">
				<figure class="flex flex-col w-max gap-0 items-end">
					<img src="../static/img/sobre/Group 5 (1).svg" alt="MOOD" />
					<h2 class="text-[#756B65] font-bold text-5xl mt-[-25px]">
						GRAM
					</h2>
				</figure>
				<div
					class="flex flex-col justify-center flex-wrap gap-9 text-[#4B403B]"
				>
					<p
						class="text-base leading-6 text-center tracking-[.06125rem]"
					>
						Na MoodGram, nossa missão é desvendar o que as palavras
						realmente transmitem. Somos apaixonados por decifrar o
						humor por trás de cada texto, oferecendo uma janela
						transparente para as emoções transmitidas pelas
						palavras. Nosso aplicativo analisa com precisão o tom e
						a vibração de cada frase, revelando nuances emocionais e
						proporcionando uma compreensão mais profunda do que está
						por trás da mensagem. Aqui na MoodGram, estamos
						comprometidos em trazer clareza emocional ao mundo das
						comunicações escritas.
					</p>
					<a
						href="/"
						class="text-lg font-bold flex items-center justify-center text-center"
						><i class="ph ph-caret-left"></i> Voltar</a
					>
				</div>
			</div>
		</main>
		<footer
			class="bottom-0 absolute flex justify-between w-full right-0 z-0"
		>
			<img
				src="../static/img/sobre/smiley-face-monochromatic 1.svg"
				alt=""
			/>
			<img src="../static/img/footer.svg" alt="" />
		</footer>
	</body>
</html>
