<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='style-positivo/style.css')}}"
		/>
		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='img/favicon/favicon.ico') }}"
		/>
		<script src="https://unpkg.com/@phosphor-icons/web"></script>
		<title>MOOD GRAM - About</title>
	</head>
	<body class="bg-[#F6B968]">
		<header class="flex justify-between">
			<figure class="logo"></figure>
			<img src="../static/img/sobre/Group 7.svg" alt="uns efeitos ai" />
		</header>
		<main
			class="flex flex-row absolute z-10 justify-between mx-[20%] w-3/5 mt-[-100px]"
		>
			<div class="flex flex-col flex-wrap items-center gap-9">
				<figure class="flex flex-col w-max items-end">
					<img src="../static/img/Group 5 (3).svg" alt="MOOD" />
					<p class="text-[#4B403BBF]">
						Seu texto foi classificado como:
					</p>
				</figure>
				<div
					class="flex flex-col justify-center items-center flex-wrap gap-8 text-[#4B403B]"
				>
					<header
						class="flex flex-row w-full gap-2 justify-center items-center"
					>
						<img src="../static/img/neutro/_.svg" alt="" />
						<h1 class="text-6xl text-[#F4EAE4] font-bold">
							NEUTRO
						</h1>
					</header>
					<p
						class="text-base leading-6 text-center tracking-[.06756rem] text-[#4B403B]"
					>
						Isso significa que ele não expressa fortemente emoções
						positivas ou negativas. É um texto que pode ser descrito
						como imparcial, objetivo ou que não transmite um
						sentimento específico de alegria, tristeza, entusiasmo
						ou qualquer outra emoção marcante.
					</p>
					<a
						href="/submit"
						class="text-lg font-bold rounded-md border gap-2 border-[#333] w-max py-2 px-4 flex items-center justify-center text-center"
						>Envie outro texto
						<i class="ph ph-paper-plane-right"></i
					></a>
				</div>
			</div>
		</main>
		<footer
			class="bottom-0 absolute flex flex-row items-end justify-between w-full right-0 z-0"
		>
			<img src="../static/img/positivo/Group 6 (1).svg" alt="" />
			<img src="../static/img/footer.svg" alt="" />
		</footer>
	</body>
</html>
